<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chencj.problem.mapper.ProblemMapper">

    <select id="search" resultType="com.chencj.problem.model.vo.ProblemVo">
        SELECT problem.id, title, level, submit_num, accept_num, status
        FROM problem
        LEFT JOIN user_acproblem AS ac
        ON ac.uid = #{uid} AND ac.pid = problem.id
        <where>
            <if test="word != null and word.trim() != ''">
                AND problem.title like CONCAT('%', #{word}, '%')
            </if>
            <if test="level != null">
                AND problem.level = #{level}
            </if>
        </where>
        ORDER BY problem.id ASC

    </select>
</mapper>